body{
	background: linear-gradient(rgba(0, 0, 50, 0.5),rgba(0, 0, 50, 0.5)),url(image.jpg);
	background-size: cover;
	background-position: center;
}

.login-box{
	max-width: 700px;
	float: none;
	margin: 50px auto;
}

.login-left{
	background: rgba(211, 211, 211, 0.5);
	padding: 30px;
}

.login-right{
	background: #fff;
	padding: 30px;
}

.form-control{
	background-color: transparent !important;
}

.setform-control{
	background-color: transparent !important;
}

a{
	color: #fff !important;
	margin-top: -200px !important;
}

h1{
	color: #fff !important;
	margin-top: 200px !important;
	text-align: center;
	text-transform: uppercase;
}

h2{
	padding: 10px;
	color: #fff;
}

.setUp-box{
	align-content: center;
	max-width: 400px;
	float: none;
	margin: 50px auto;
	background: #fff;
	padding: 30px;
}

.submit-box{
	align-content: center;
	max-width: 400px;
	float: none;
	margin: 50px auto;
	background: #fff;
	padding: 30px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
	background-color: #fff;
}

th, td {
  padding: 15px;
  text-align: left;
}

#menu ul {
	list-style-type: none;
	margin: auto;
	padding: 0;
	overflow: hidden;
	background-color: #3D47B8;
	border-width: 1px;
	border-color: rgb(214, 213, 213);
}

#menu li {
	float: right;
}

#menu li a {
	padding: 14px 20px;
	text-decoration: none;
}